@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply max-h-screen overflow-hidden text-base antialiased;
  }
}

@layer components {
  .btn {
   @apply bg-mauve-3 flex items-center justify-center rounded-md cursor-pointer relative hover:shadow-button-hover focus:shadow-button-focus outline-none;
  }
  .sm {
    @apply h-8 w-8 md:h-9 md:w-9;
  }

  .md {
    @apply h-9 w-9 md:h-10 md:w-10;
  }

  .lg {
    @apply h-10 w-10 md:h-11 md:w-11;
  }

  .default {
    @apply bg-gradient-to-b hover:from-violet-4 hover:to-crimson-4;
  }

  .active {
    @apply bg-gradient-to-b from-violet-6 to-crimson-6;
  }

}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-ligatures: normal;
  src: url('/fonts/Inter.var.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-ligatures: normal;
  src: url('/fonts/JetBrainsMono.var.woff2') format('woff2');
}
