@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white bg-light-texture text-mauve-12 dark:bg-mauve-1 dark:bg-dark-texture;
  }
}

@layer components {
  .embla {
    @apply mx-auto relative space-y-4 transition-opacity duration-500;
  }

  .embla__viewport {
    @apply overflow-hidden;
  }

  .embla__container {
    @apply flex mt-5;
  }

  .embla__slide {
    @apply flex-[0_0_auto] max-w-full p-2.5;
  }

  .btn {
   @apply transition-all duration-200 ease-in-out drop-shadow flex items-center justify-center space-x-1.5 relative bg-mauve-3 font-semibold text-sm font-mono rounded-lg cursor-pointer leading-none outline-none h-10 px-3.5 md:h-11 md:px-4 hover:shadow-button-hover focus:shadow-button-focus;
  }

  .embla-arrow {
    @apply h-6 px-4 rounded-xl transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:shadow-none
  }

  .embla-dot {
    @apply h-2 px-2 md:px-3 transition-all duration-300 ease-in-out;
  }

  .embla-dot-active {
    @apply h-2 px-4 md:px-6 bg-gradient-to-l from-violet-5 to-crimson-5 transition-all duration-300 delay-200 ease-in-out;
  }

  .default {
    @apply bg-gradient-to-b hover:from-violet-4 hover:to-crimson-4;
  }

  .active {
    @apply bg-gradient-to-b from-violet-5 to-crimson-5;
  }

  .mobile {
    @apply w-full justify-start font-sans bg-transparent shadow-none;
  }

  .mobile-active {
    @apply w-full justify-start font-sans font-bold bg-gradient-to-r from-violet-5 to-crimson-5 shadow-md;
  }


}

@font-face {
  font-family: 'Manrope';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-ligatures: normal;
  src: url('/fonts/Manrope.var.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrainsMono';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  font-variation-ligatures: normal;
  src: url('/fonts/JetBrainsMono.var.woff2') format('woff2');
}
